---
import type { CollectionEntry } from "astro:content";
import TagMono from "./TagMono.astro";

interface Props {
    project: CollectionEntry<"projects">;
    direction: "flex-row" | "flex-row-reverse";
}

const { project, href, direction } = Astro.props;
---

<a href={href} class="group block w-full md:w-3/4 mx-auto">
    <div class="rounded-2xl border border-gray-800 min-h-[15rem] p-5 transition-all duration-300 hover:border-blue-500/50 hover:bg-gray-900/30">
        <div class=`flex gap-8 overflow-hidden h-full flex-col md:${direction}`>
            
            <slot/>

            <article class="flex flex-[3] flex-col justify-center overflow-hidden">
                <h3 class="text-2xl font-bold mb-3 group-hover:text-lime-400 dark:group-hover:text-blue-400 transition-colors">
                    {project.title}
                </h3>
                
                <p class="text-sm text-gray-600 dark:text-gray-400 mb-6 leading-relaxed whitespace-pre-line">
                    {project.short_description}
                </p>

                <div class="flex flex-wrap gap-2">
                    {project.tech_stack.map((tech: string) => (
                        <TagMono text={tech}/>
                    ))}
                </div>
            </article>
        </div>
    </div>
</a>
